html
body
	font-size 15px

#map
	bottom: 0px
	left: 0px
	width: 100%
	position: absolute
	height: calc(100% - 56px)
#menu
	visibility: hidden
	z-index: -2
	position: absolute
	height: calc(100% - 56px)

#caracteristicas
	position: absolute
	bottom: 0px
	right: 0px
	overflow: auto
	background: black
	height: calc(100% - 56px)
	color white
	font-size 0.9rem
	h3
		font-size: 1.3rem
		padding: 0.5rem 0
	.indicadores
		padding: 1rem 0.5rem

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right
	visibility: hidden
